body {
  /* background-color: #110e03; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.fname, .lname, .uname, .emailid, .pass1, .pass2, .website {
  padding: 10px;
  margin-bottom: 10px;
  width: 300px
}

.submitbtn {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  background-color: rgb(98, 0, 255);
  color: white;
  border-radius: 7px;
  cursor: pointer;
}

.registerform {
 position: fixed;
 top: 47%;
 left: 50%;
 transform: translate(-50%, -50%);
 /* width: 50% */
}

.errormsg {
  color: black;
  margin-top: 10px
}
