asgiref==3.4.1
asyncio==3.4.3
certifi==2021.10.8
cffi==1.15.0
channels==3.0.4
chardet==3.0.4
charset-normalizer==2.0.9
decorator==4.0.11
Django==4.0.1
django-admin==1.0.2
djangorestframework==3.13.1
Flask==2.0.2
gitdb==4.0.9
GitPython==3.1.24
gunicorn==20.1.0
requests
requests-toolbelt==0.9.1
responses==0.16.0
setuptools-rust==1.1.2
sqlparse==0.4.2
urllib3==1.26.7
validators==0.18.2
virtualenv==20.13.0
virtualenvwrapper-win==1.2.7
whitenoise==5.3.0
